<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/stylesheets/pierakstities.css">

<!-- <main class="my-auto" id="pierakstities"> -->
    <section class="container">

        <h1 class="text-center">Pierakst카ties</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1647221598091-880219fa2c8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80" 
                alt="" class="card-img-top">
                <div class="card-body">
                    <form action="/pierakstities" method="POST" novalidate class="validated-form" >
                        <div class="mb-3">
                            <label class="form-label" for="username">Lietot훮jv훮rds</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    
                                <div class="mb-3">
                                    <label class="form-label" for="password">Parole</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success">Pierakst카ties</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
<!-- </main>    -->
