<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="stylesheets/laimet.css">


<!-- <main class="my-auto" id="about"> -->
    <section class="container">
      <h1>Kā tas sākās...</h1>
        <div class="row mt-0">
            <div class="col-lg-8">
                <p>
                    Ideja par programmu  <a href="/programma"><b>"Kā laimēt" Instagram konkursos</b></a> radās pēc tam, kad mēs - neliela draudzeņu grupiņa, 
                    kādu gadu aktīvi piedaloties Instagram konkursos, piefiksējām, ka, izpildot noteiktus soļus, esam <b>laimējušas vairākas
                        balvas</b> noteiktā laika posmā.
                </p>
                <p>
                Laimestu klāsts ir bijis patiešām plašs, sākot no svecēm, ēdieniem un citiem mazākiem niekiem līdz pat tādām pērlēm kā 
                <b>AirPods, simtiem eiro vērtām dāvanu kartēm</b> viesnīcās, apģērbu veikalos, autosalonos un citām vērtīgām lietām. 
                </p>
                    <p>
                        <strong>"You name it, we've won it!" &#128516; </strong> 
                    </p>
                    <p>
                        Lai cik komiski un nereāli tas sākumā neliktos, šie <a href="/programma"><b>programmas</b></a> <b> soļi tiešām strādā</b>. Cik gan daudzi nav brīnījušies
                         un prasījuši, kā mums tas izdodas un tā var veikties, un daži pat ar skepsi sprieduši, vai tik mums nav kādi paziņas
                          uzņēmumos, kuri mūs izlozē utt.
                    </p>
            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="/imgs/dace.jpg" alt="Responsive image" id="imageDace">
            </div>
        </div>
        <div class="row my-3" id="otraDala">
            <div class="col-lg-4 order-2 order-lg-1">
                <img class="img-fluid" src="/imgs/anete.jpg" alt="Responsive image" id="imageAnete">
            </div>
            <div class="col-lg-8 order-1 order-lg-2">
                <p>
                    Bet nē, draugi, izrādās arī laimēšanai konkursos nozīme <b>nav tikai veiksmes faktoram</b>. Jūs tak esat dzirdējuši veco labo 
                    stāstu par nelaimēto miljonu un nenopirkto loterijas biļeti. <b>Secinājums? Sākt darīt!</b>  Galvenais ir izpildīt soļus,
                    nepadoties un gaidīt, kad pienāks tavs uzvaras laiks! 
                </p>
                <p>
                    Vēlamies šīs mazās gudrības un prieku par iegūto laimestu nodot arī jums. Tāpēc esam sagatavojušas <a href="/programma"><b>7 soļu programmu</b> </a> , 
                    kurā ir apkopoti padomi par visu nepieciešamo, kas jāveic, lai tuvotos pretī savam laimestam. 
                    Viss minētais ir secināts no <b>praksē pieredzētā 2 gadu laikā</b>. 
                </p>
                <p>
                    Uz priekšu un lai veicas! 
                </p>
                <p>
                   Uz programmu dodies <a href="/programma">šeit</a>. Citu <b>iegūtos laimestus</b> savai iedvesmai vari apskatīt <a href="/laimesti">šeit</a>. Nekautrējies un <a href="/laimesti/jauns">pievieno</a> arī savu laimestu.
                </p>
            </div>
        </div>
    </section>
<!-- </main>      -->


<!-- <main>
    Ideja par programmu "Kā laimēt" Instagram konkursos radās pēc tam, kad mēs - neliela draudzeņu grupiņa, kādu gadu aktīvi piedaloties Instagram konkursos, piefiksējām, ka, izpildot noteiktus soļus, esam laimējušas vairākas balvas noteiktā laika posmā.
     Laimestu klāsts ir bijis patiešām plašs, sākot no svecēm, ēdieniem un citiem mazākiem niekiem līdz pat tādām pērlēm kā AirPods, simtiem eiro vērtām dāvanu kartēm viesnīcās, apģērbu veikalos, autosalonos u.c. vērtīgām lietām. "You name it, we've won it!" :D. 
    Lai cik komiski un nereāli tas sākumā neliktos, šie programmas soļi tiešām strādā. Cik gan daudzi nav brīnījušies un prasījuši, kā mums tas izdodas un tā var veikties, un daži pat ar skepsi sprieduši, vai tik mums nav kādi paziņas uzņēmumos, kuri mūs izlozē utt.
    Bet nē, draugi, izrādās arī laimēšanai konkursos svarīgs ir ne tikai veiksmes faktors. Jūs tak esat dzirdējuši veco labo stāstu par nelaimēto miljonu un nenopirkto loterijas biļeti. Secinājums? Sākt darīt!
Galvenais ir izpildīt soļus, nepadoties un gaidīt, kad pienāks tavs uzvaras laiks! 
Vēlamies šīs mazās gudrības un prieku par iegūto laimestu nodot arī jums. Tāpēc esam sagatavojušas 7 soļu programmu, kurā ir apkopoti padomi par visu nepieciešamo, kas jāveic, lai tuvotos pretī savam laimestam. Viss minētais ir secināts no praksē pieredzētā 2 gadu laikā. 
Uz priekšu un lai veicas! 

    
</main> -->