<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="stylesheets/programma.css">



<main class="my-auto" id="programma">
  <section class="container">
    <h1>7 soļi</h1>
    <p class="fs-4" id="paragrafs7soli"> 
      Iepazīsties ar <b>7 soļu programmu</b> , 
                    kurā ir apkopoti padomi par visu nepieciešamo, kas jāveic, lai tuvotos pretī savam laimestam. 
                    Minētais ir secināts no <b>praksē pieredzētā 2 gadu laikā</b>. 
      </p>
      <div class="row mt-2 py-4" id="pirmaisSolis">
          <div class="col-lg-2 order-3 order-lg-2" id="ikona1">
            <span>
              <svg class="" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 70 70"><path d="M18.268,26.766a5.825,5.825,0,0,0,0,10.468A4.406,4.406,0,0,0,18.2,38a5.09,5.09,0,0,0,4.357,4.925A5.21,5.21,0,0,0,27.733,47,5.344,5.344,0,0,0,32,44.908,5.344,5.344,0,0,0,36.267,47a5.21,5.21,0,0,0,5.176-4.075A5.09,5.09,0,0,0,45.8,38a4.406,4.406,0,0,0-.068-.766,5.825,5.825,0,0,0,0-10.468A4.406,4.406,0,0,0,45.8,26a5.09,5.09,0,0,0-4.357-4.925A5.21,5.21,0,0,0,36.267,17,5.344,5.344,0,0,0,32,19.092,5.344,5.344,0,0,0,27.733,17a5.21,5.21,0,0,0-5.176,4.075A5.09,5.09,0,0,0,18.2,26,4.406,4.406,0,0,0,18.268,26.766Zm18-7.766a3.215,3.215,0,0,1,3.2,2.405,1.5,1.5,0,0,1-1.7-.542l-1.542,1.274A3.6,3.6,0,0,0,39,23.489a3.416,3.416,0,0,0,1.717-.472A3.121,3.121,0,0,1,43.8,26a2.731,2.731,0,0,1-.193.968A4.01,4.01,0,0,1,40.848,28a4.239,4.239,0,0,1-3.077-1.637l-1.542,1.274A6.214,6.214,0,0,0,40.767,30c.079,0,.157,0,.235,0a5.976,5.976,0,0,0,3.847-1.439,3.822,3.822,0,0,1,0,6.874A5.93,5.93,0,0,0,40.767,34a6.214,6.214,0,0,0-4.538,2.361l1.542,1.274A4.239,4.239,0,0,1,40.848,36a4.03,4.03,0,0,1,2.759,1.032A2.731,2.731,0,0,1,43.8,38a3.123,3.123,0,0,1-3.092,2.984,3.49,3.49,0,0,0-4.479.879l1.542,1.274a1.5,1.5,0,0,1,1.7-.542A3.215,3.215,0,0,1,36.267,45,3.145,3.145,0,0,1,33,42V22A3.145,3.145,0,0,1,36.267,19ZM23.279,23.017A3.416,3.416,0,0,0,25,23.489a3.6,3.6,0,0,0,2.775-1.352l-1.542-1.274a1.5,1.5,0,0,1-1.7.543A3.214,3.214,0,0,1,27.733,19,3.145,3.145,0,0,1,31,22V42a3.145,3.145,0,0,1-3.267,3,3.214,3.214,0,0,1-3.2-2.406,1.5,1.5,0,0,1,1.7.543l1.542-1.274a3.49,3.49,0,0,0-4.479-.879A3.123,3.123,0,0,1,20.2,38a2.736,2.736,0,0,1,.193-.969A3.989,3.989,0,0,1,23.152,36a4.239,4.239,0,0,1,3.077,1.637l1.542-1.274A6.214,6.214,0,0,0,23.233,34a5.91,5.91,0,0,0-4.084,1.434,3.821,3.821,0,0,1,0-6.873A5.976,5.976,0,0,0,23,30c.078,0,.156,0,.235,0a6.214,6.214,0,0,0,4.538-2.361l-1.542-1.274A4.239,4.239,0,0,1,23.152,28a3.978,3.978,0,0,1-2.759-1.031A2.74,2.74,0,0,1,20.2,26,3.121,3.121,0,0,1,23.279,23.017Z"/><path d="M8.408 15.522A1 1 0 0 0 7.7 16.584a6.608 6.608 0 0 0 1.046 2.979 6.578 6.578 0 0 0-3.058.783 1 1 0 0 0-.49 1.178 6.534 6.534 0 0 0 1.775 2.9 6.55 6.55 0 0 0-3.089 1.435 1 1 0 0 0-.244 1.252 6.582 6.582 0 0 0 2.112 2.347 6.581 6.581 0 0 0-2.522 1.9 1 1 0 0 0 0 1.276 6.554 6.554 0 0 0 2.652 1.955 6.552 6.552 0 0 0-2.216 2.438 1 1 0 0 0 .251 1.251 6.589 6.589 0 0 0 2.845 1.367 6.581 6.581 0 0 0-1.608 2.715 1 1 0 0 0 .486 1.18 6.583 6.583 0 0 0 3.1.806c.076 0 .15-.019.226-.022a6.524 6.524 0 0 0-1.18 3.214A1 1 0 0 0 8.494 48.6a6.925 6.925 0 0 0 1.961.291 6.063 6.063 0 0 0 1.193-.131 6.582 6.582 0 0 0-.442 3.132 1 1 0 0 0 .9.9q.348.033.689.033a6.358 6.358 0 0 0 2.571-.538 6.549 6.549 0 0 0 .154 3.3 1 1 0 0 0 .957.713c.035 0 .07 0 .105-.005a6.6 6.6 0 0 0 2.979-1.047 6.588 6.588 0 0 0 .783 3.059 1 1 0 0 0 1.178.49 6.541 6.541 0 0 0 2.906-1.775 6.543 6.543 0 0 0 1.434 3.089 1 1 0 0 0 1.252.244 6.582 6.582 0 0 0 2.347-2.112 6.581 6.581 0 0 0 1.9 2.522 1 1 0 0 0 1.276 0 6.554 6.554 0 0 0 1.955-2.652 6.552 6.552 0 0 0 2.438 2.216 1 1 0 0 0 1.251-.251 6.587 6.587 0 0 0 1.366-2.845 6.591 6.591 0 0 0 2.716 1.608 1.025 1.025 0 0 0 .3.045 1 1 0 0 0 .883-.531 6.523 6.523 0 0 0 .8-3.31 6.545 6.545 0 0 0 3.2 1.169.821.821 0 0 0 .1 0 1 1 0 0 0 .959-.718 6.578 6.578 0 0 0 .168-3.146 6.423 6.423 0 0 0 2.435.467q.34 0 .689-.033a1 1 0 0 0 .9-.9 6.538 6.538 0 0 0-.5-3.267 6.126 6.126 0 0 0 1.3.154 6.951 6.951 0 0 0 1.992-.3 1 1 0 0 0 .708-1.062 6.6 6.6 0 0 0-1.041-2.971 6.591 6.591 0 0 0 3.053-.791 1 1 0 0 0 .49-1.178 6.539 6.539 0 0 0-1.782-2.913 6.52 6.52 0 0 0 3.1-1.427 1 1 0 0 0 .244-1.252 6.582 6.582 0 0 0-2.112-2.347 6.581 6.581 0 0 0 2.522-1.9 1 1 0 0 0 0-1.276 6.554 6.554 0 0 0-2.652-1.955 6.552 6.552 0 0 0 2.216-2.438 1 1 0 0 0-.251-1.251 6.574 6.574 0 0 0-2.846-1.366 6.593 6.593 0 0 0 1.609-2.716 1 1 0 0 0-.486-1.18 6.526 6.526 0 0 0-3.311-.8 6.54 6.54 0 0 0 1.17-3.2 1 1 0 0 0-.713-1.058 6.573 6.573 0 0 0-3.151-.167 6.579 6.579 0 0 0 .439-3.125 1 1 0 0 0-.9-.9 6.553 6.553 0 0 0-3.258.493 6.559 6.559 0 0 0-.156-3.291A1 1 0 0 0 47.416 7.7a6.6 6.6 0 0 0-2.979 1.047 6.588 6.588 0 0 0-.783-3.059 1 1 0 0 0-1.178-.49A6.541 6.541 0 0 0 39.57 6.973a6.543 6.543 0 0 0-1.434-3.089 1 1 0 0 0-1.252-.244 6.582 6.582 0 0 0-2.347 2.112 6.581 6.581 0 0 0-1.9-2.522 1 1 0 0 0-1.276 0 6.554 6.554 0 0 0-1.955 2.652 6.552 6.552 0 0 0-2.438-2.216 1 1 0 0 0-1.251.251 6.587 6.587 0 0 0-1.366 2.845 6.591 6.591 0 0 0-2.716-1.608 1 1 0 0 0-1.18.486 6.523 6.523 0 0 0-.8 3.31 6.545 6.545 0 0 0-3.2-1.169.991.991 0 0 0-1.058.713 6.586 6.586 0 0 0-.167 3.151 6.581 6.581 0 0 0-3.125-.439 1 1 0 0 0-.9.9 6.538 6.538 0 0 0 .493 3.258A6.558 6.558 0 0 0 8.408 15.522zM22.066 13.45l.044.034-.04.02C22.07 13.485 22.067 13.468 22.066 13.45zm19.868 37.1l-.044-.034.04-.02C41.93 50.515 41.933 50.532 41.934 50.55zM32 13A19 19 0 1 1 13 32 19.021 19.021 0 0 1 32 13zM11.9 25.942c-.013-.013-.028-.024-.042-.036l.054-.011C11.907 25.911 11.9 25.927 11.9 25.942zM13.5 41.93c-.019 0-.036 0-.055 0 .012-.015.024-.029.035-.044C13.491 41.9 13.5 41.917 13.5 41.93zM25.9 52.09l.041.011-.035.04C25.905 52.124 25.9 52.107 25.9 52.09zM52.1 38.058l.041.035c-.018 0-.035 0-.052.006C52.094 38.086 52.1 38.072 52.1 38.058zM50.493 22.063l.063 0c-.013.018-.027.034-.04.052C50.507 22.1 50.5 22.078 50.493 22.063zM38.1 11.91l-.041-.011.035-.04C38.1 11.876 38.1 11.893 38.1 11.91zM10.231 21.846a4.007 4.007 0 0 1 2.018 1.924 3.887 3.887 0 0 1-4.805-2A4 4 0 0 1 10.231 21.846zm-1.6 4.576A4.007 4.007 0 0 1 11 27.9a3.887 3.887 0 0 1-5.109-1A4 4 0 0 1 8.636 26.422zM10.6 32A3.962 3.962 0 0 1 5.4 32 3.962 3.962 0 0 1 10.6 32zM8.272 35.738a3.99 3.99 0 0 1 2.748.469A4 4 0 0 1 8.665 37.7a4 4 0 0 1-2.748-.469A4.006 4.006 0 0 1 8.272 35.738zM7.4 42.129a3.886 3.886 0 0 1 4.813-1.982A3.886 3.886 0 0 1 7.4 42.129zM9.935 46.86a3.886 3.886 0 0 1 4.317-2.907A3.886 3.886 0 0 1 9.935 46.86zm4.387 1.4A4 4 0 0 1 16.87 47.13a3.888 3.888 0 0 1-3.681 3.681A4 4 0 0 1 14.322 48.264zm2.933 5.878A3.885 3.885 0 0 1 20.14 49.81a3.886 3.886 0 0 1-2.885 4.332zm6.437.4a4 4 0 0 1-1.923 2.017 3.886 3.886 0 0 1 2-4.8A4 4 0 0 1 23.692 54.539zm4.693 1.208a4 4 0 0 1-1.48 2.363A3.887 3.887 0 0 1 27.9 53 4 4 0 0 1 28.385 55.747zM32 58.6A3.888 3.888 0 0 1 32 53.4 3.888 3.888 0 0 1 32 58.6zm5.23-.52a3.886 3.886 0 0 1-1.023-5.1 3.886 3.886 0 0 1 1.023 5.1zm4.9-1.484a3.886 3.886 0 0 1-1.982-4.813A3.886 3.886 0 0 1 42.129 56.6zm4.731-2.534a3.886 3.886 0 0 1-2.907-4.317 3.886 3.886 0 0 1 2.907 4.317zm1.4-4.387A4 4 0 0 1 47.13 47.13a3.888 3.888 0 0 1 3.681 3.681A4 4 0 0 1 48.264 49.678zm3.157-3.543A4 4 0 0 1 49.81 43.86a3.886 3.886 0 0 1 4.332 2.885A4.006 4.006 0 0 1 51.421 46.135zm2.348-3.981a4.007 4.007 0 0 1-2.018-1.924 3.887 3.887 0 0 1 4.805 2A4.007 4.007 0 0 1 53.769 42.154zm1.595-4.576A4.007 4.007 0 0 1 53 36.1a3.887 3.887 0 0 1 5.109 1A4.007 4.007 0 0 1 55.364 37.578zM53.4 32A3.962 3.962 0 0 1 58.6 32 3.962 3.962 0 0 1 53.4 32zm2.331-3.738a4 4 0 0 1-2.748-.469 3.886 3.886 0 0 1 5.1-1.023A4.006 4.006 0 0 1 55.728 28.262zm.871-6.391a3.886 3.886 0 0 1-4.813 1.982A3.889 3.889 0 0 1 56.6 21.871zM54.065 17.14a3.886 3.886 0 0 1-4.317 2.907 3.886 3.886 0 0 1 4.317-2.907zm-4.387-1.4A4 4 0 0 1 47.13 16.87a3.888 3.888 0 0 1 3.681-3.681A4 4 0 0 1 49.678 15.736zM46.745 9.858A3.885 3.885 0 0 1 43.86 14.19a3.886 3.886 0 0 1 2.885-4.332zm-6.437-.4a4 4 0 0 1 1.923-2.017 3.886 3.886 0 0 1-2 4.805A4 4 0 0 1 40.308 9.461zM35.615 8.253A4 4 0 0 1 37.1 5.89a4.006 4.006 0 0 1 .483 2.746A4.007 4.007 0 0 1 36.1 11 4 4 0 0 1 35.615 8.253zM32 5.4A4 4 0 0 1 33 8a4 4 0 0 1-1 2.6A4 4 0 0 1 31 8 4 4 0 0 1 32 5.4zm-5.23.52a3.886 3.886 0 0 1 1.023 5.1A4 4 0 0 1 26.3 8.665 4 4 0 0 1 26.77 5.917zM21.871 7.4a3.886 3.886 0 0 1 1.982 4.813A3.889 3.889 0 0 1 21.871 7.4zM17.14 9.935a3.886 3.886 0 0 1 2.907 4.317A3.886 3.886 0 0 1 17.14 9.935zm-1.4 4.387A4 4 0 0 1 16.87 16.87a3.888 3.888 0 0 1-3.681-3.681A4 4 0 0 1 15.736 14.322zm-3.157 3.543A4 4 0 0 1 14.19 20.14a3.886 3.886 0 0 1-4.332-2.885A4.012 4.012 0 0 1 12.579 17.865zM9 10a1 1 0 0 0 1-1A7.008 7.008 0 0 0 3 2 1 1 0 0 0 2 3 7.008 7.008 0 0 0 9 10zM7.872 7.872A5.018 5.018 0 0 1 4.128 4.128 5.018 5.018 0 0 1 7.872 7.872zM61 2a7.008 7.008 0 0 0-7 7 1 1 0 0 0 1 1 7.008 7.008 0 0 0 7-7A1 1 0 0 0 61 2zM56.128 7.872a5.018 5.018 0 0 1 3.744-3.744A5.018 5.018 0 0 1 56.128 7.872zM55 54a1 1 0 0 0-1 1 7.008 7.008 0 0 0 7 7 1 1 0 0 0 1-1A7.008 7.008 0 0 0 55 54zm1.128 2.128a5.018 5.018 0 0 1 3.744 3.744A5.018 5.018 0 0 1 56.128 56.128zM3 62a7.008 7.008 0 0 0 7-7 1 1 0 0 0-1-1 7.008 7.008 0 0 0-7 7A1 1 0 0 0 3 62zm4.872-5.872a5.018 5.018 0 0 1-3.744 3.744A5.018 5.018 0 0 1 7.872 56.128z"/></svg>
              </span>
            </div>
            <div class="col-lg-1 d-none d-lg-block order-lg-2">
              <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
            </div>
          <div class="col-lg-2 order-2 order-lg-3">
            <h3>Domu spēks un ticība savai veiksmei</h3>
        </div> 
        <div class="col-lg-5 order-4 order-lg-4">
<ul>
  <li>Vizualizē balvu sev</li>
  <li>Tieši tik vienkārši, bet ļoti svarīgi!</li>
  <li>Redzi balvu darbībā</li>
  <li>Tici, ka tieši tu uzvarēsi</li>
</ul>
<audio controls>
  <source src="/audio/1faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
      </div>
          <div class="col-lg-2 order-1 order-lg-5" >
            <div style="height: 100%;" class= "border rounded-3 border-4 d-flex justify-content-center align-items-center border-white" id="viens">1</div>
          </div>
      </div>


      <div class="row mt-2 py-4"  id="otraisSolis">
        <div class="col-lg-2 order-3 order-lg-2" id="ikona2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64" viewBox="0 0 70 70"><path d="M16.3 23.98c-6.61 0-11.99-5.38-11.99-11.99 0-3.2 1.25-6.21 3.51-8.48C10.09 1.25 13.1 0 16.3 0c3.2 0 6.21 1.25 8.48 3.51 2.27 2.27 3.51 5.28 3.51 8.48 0 3.16-1.22 6.14-3.44 8.4-.38.38-.99.39-1.37.01-.38-.38-.39-.99-.01-1.37 1.86-1.89 2.88-4.38 2.88-7.03 0-2.68-1.05-5.21-2.94-7.11-1.9-1.9-4.42-2.94-7.11-2.94-2.68 0-5.21 1.05-7.11 2.94-1.9 1.9-2.95 4.42-2.95 7.11 0 5.54 4.51 10.05 10.05 10.05.97 0 1.91-.14 2.81-.4.51-.16 1.05.14 1.21.65.15.51-.14 1.05-.65 1.21C18.59 23.82 17.46 23.98 16.3 23.98zM35.02 32.53c-.38 0-.75-.23-.9-.61l-2.04-5.1c-.38-.96-1.47-1.43-2.43-1.04-.47.19-.83.54-1.03 1-.2.46-.2.97-.02 1.43.2.5-.04 1.06-.54 1.26-.49.2-1.06-.04-1.26-.54-.38-.95-.37-1.98.04-2.92.4-.94 1.14-1.66 2.09-2.04 1.95-.78 4.17.17 4.96 2.12l2.04 5.1c.2.5-.04 1.06-.54 1.26C35.27 32.51 35.14 32.53 35.02 32.53z"/><path d="M39.9,32.06c-0.38,0-0.75-0.23-0.9-0.61l-1.38-3.46c-0.14-0.34-0.4-0.61-0.74-0.76c-0.34-0.15-0.72-0.15-1.06-0.01
              c-0.34,0.14-0.61,0.4-0.76,0.74c-0.14,0.34-0.15,0.72-0.01,1.06c0.2,0.5-0.04,1.06-0.54,1.26c-0.5,0.2-1.06-0.04-1.26-0.54
              c-0.33-0.82-0.32-1.73,0.03-2.54c0.35-0.82,1-1.45,1.82-1.78c0.82-0.33,1.73-0.32,2.54,0.03c0.82,0.35,1.45,1,1.78,1.82l1.38,3.46
              c0.2,0.5-0.04,1.06-0.54,1.26C40.15,32.04,40.02,32.06,39.9,32.06z"/><path d="M35.93,57.51c-0.27,0-0.53-0.11-0.71-0.31c-5.09-5.51-12.38-5.93-16.28-5.69c-1.55,0.09-2.94-0.78-3.53-2.22
              c-0.6-1.45-0.23-3.06,0.94-4.08c2.69-2.36,7.58-2.49,10.1-2.38L17.56,20.6c-0.37-0.92-0.36-1.93,0.04-2.84s1.11-1.62,2.04-1.99
              c0.92-0.37,1.93-0.36,2.84,0.04c0.91,0.39,1.62,1.11,1.98,2.03l5.6,14.02c0.2,0.5-0.04,1.06-0.54,1.26
              c-0.49,0.2-1.06-0.04-1.26-0.54l-5.6-14.02c-0.18-0.44-0.51-0.79-0.95-0.97c-0.43-0.19-0.92-0.19-1.36-0.02
              c-0.44,0.18-0.79,0.51-0.97,0.95c-0.19,0.44-0.19,0.92-0.02,1.36l9.46,23.67c0.13,0.32,0.08,0.68-0.13,0.95
              c-0.21,0.27-0.55,0.41-0.89,0.37c-0.07-0.01-7.18-0.85-10.18,1.79c-0.65,0.57-0.65,1.35-0.43,1.89c0.22,0.53,0.74,1.08,1.62,1.03
              c4.11-0.25,11.77,0.18,17.36,5.83l15.33-6.13L43.6,29.47c-0.28-0.71-1.09-1.05-1.8-0.77l-0.27,0.11c-0.71,0.28-1.05,1.09-0.77,1.8
              c0.2,0.5-0.04,1.06-0.54,1.26c-0.5,0.2-1.06-0.04-1.26-0.54c-0.33-0.82-0.32-1.73,0.03-2.54c0.35-0.82,1-1.45,1.82-1.78l0.27-0.11
              c1.7-0.68,3.64,0.15,4.32,1.85l8.27,20.69c0.1,0.24,0.09,0.51-0.01,0.74c-0.1,0.24-0.29,0.42-0.53,0.52l-16.84,6.73
              C36.17,57.48,36.05,57.51,35.93,57.51z"/><path d="M38.53 64c-.13 0-.26-.03-.38-.08-.24-.1-.42-.29-.52-.53l-2.6-6.49c-.2-.5.04-1.06.54-1.26.5-.2 1.06.04 1.26.54l2.24 5.59 15.04-6.01-2.24-5.59c-.2-.5.04-1.06.54-1.26.5-.2 1.06.04 1.26.54l2.6 6.49c.2.5-.04 1.06-.54 1.26l-16.84 6.73C38.77 63.98 38.65 64 38.53 64zM47.7 23.98c-6.61 0-11.99-5.38-11.99-11.99S41.09 0 47.7 0c6.61 0 11.99 5.38 11.99 11.99S54.31 23.98 47.7 23.98zM47.7 1.94c-5.54 0-10.05 4.51-10.05 10.05 0 5.54 4.51 10.05 10.05 10.05s10.05-4.51 10.05-10.05C57.75 6.45 53.24 1.94 47.7 1.94z"/><path d="M42.45,18.21c-0.25,0-0.5-0.09-0.69-0.28c-0.38-0.38-0.38-0.99,0-1.37L52.27,6.05c0.38-0.38,0.99-0.38,1.37,0
              c0.38,0.38,0.38,0.99,0,1.37L43.13,17.93C42.94,18.12,42.69,18.21,42.45,18.21z"/><path d="M52.96 18.21c-.25 0-.5-.09-.69-.28L41.76 7.42c-.38-.38-.38-.99 0-1.37.38-.38.99-.38 1.37 0l10.51 10.51c.38.38.38.99 0 1.37C53.45 18.12 53.2 18.21 52.96 18.21zM13.93 17.46c-.26 0-.5-.1-.69-.28l-4.27-4.27c-.38-.38-.38-.99 0-1.37.38-.38.99-.38 1.37 0l3.59 3.59 8.32-8.32c.38-.38.99-.38 1.37 0 .38.38.38.99 0 1.37l-9.01 9.01C14.44 17.36 14.19 17.46 13.93 17.46z"/></svg>
            </span>
          </div>
          <div class="col-lg-1 d-none d-lg-block order-lg-2">
            <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
          </div>
          <div class="col-lg-2 order-2 order-lg-3">
          <h3>Konkursu izvēle</h3>
      </div>
      <div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>Piedalies tikai konkursos, kuru balvas tiešām vēlies</li>
<li>Ņem vērā – balvas saņemšana var būt apgrūtinājums</li>
<li>Pārsteiguma konkursi var nest vilšanos</li>
<li>Izņēmums – alkohola zīmolu konkursi</li>
</ul>
<audio controls>
  <source src="/audio/2faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
    </div>
    <div class="col-lg-2 order-1 order-lg-5" >
      <div style="height:100%;" class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="divi">2</div>
    </div>
    </div>


    <div class="row mt-2 py-4" id="tresaisSolis">
      <div class="col-lg-2 order-3 order-lg-2" id="ikona3">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 70 70"><path d="M59,5a4,4,0,0,0-4,4c0,.024.007.045.007.069L45.43,11.731a4.947,4.947,0,0,0-8.187-.994l-8.39-4.721A3.964,3.964,0,0,0,29,5a4,4,0,1,0-7.339,2.193l-3.427,3.761a5.959,5.959,0,0,0-6.705.161l-3.1-3.1A3.947,3.947,0,0,0,9,6a4,4,0,1,0-4,4,3.947,3.947,0,0,0,2.019-.567l3.1,3.1a5.963,5.963,0,0,0,.414,7.459l-1.9,2.369a4.059,4.059,0,1,0,1.556,1.255l1.9-2.371a5.976,5.976,0,0,0,4.668.5l4.651,9.311c-3.182,3.091-4.116,7.487-2.847,13.309a5,5,0,0,0,2.385,8.972C22.271,58.979,26.811,63,32,63s9.729-4.021,11.056-9.671a5,5,0,0,0,2.4-8.959,18.5,18.5,0,0,0,.044-8.6l6.284-4.5a6,6,0,1,0,6.173-9.929l1.4-8.37A3.99,3.99,0,0,0,59,5ZM42.355,51.367h0a1,1,0,0,0-1.1.819C40.348,57.293,36.458,61,32,61s-8.348-3.707-9.25-8.814a1.077,1.077,0,0,0-1.062-.826,1.019,1.019,0,0,0-.124.007,3.014,3.014,0,0,1,0-6.027,2.782,2.782,0,0,1,.589.057,1,1,0,0,0,1.214-.977V42.038c2.462-.274,8.676-1.232,11.176-4.085a15.2,15.2,0,0,0,6.09,3.957v2.51a1,1,0,0,0,.373.779,1.012,1.012,0,0,0,.841.2,2.782,2.782,0,0,1,.589-.057,3.014,3.014,0,1,1-.081,6.027ZM55.985,21a5.985,5.985,0,0,0-5.366,8.636l-5.894,4.226a7.925,7.925,0,0,0-.928-1.377,8.226,8.226,0,0,0-6.069-2.711,12.065,12.065,0,0,0-12.711-1.243,15.967,15.967,0,0,0-2.03,1.206l-4.447-8.9A5.974,5.974,0,0,0,19.714,12.3l3.439-3.773a3.925,3.925,0,0,0,4.727-.763l8.382,4.716A4.913,4.913,0,0,0,36,14a5,5,0,0,0,10,0c0-.117-.027-.227-.035-.342l9.587-2.665A4,4,0,0,0,57.38,12.65Z"/><circle cx="26.782" cy="45.544" r="1.204"/><circle cx="37.218" cy="45.544" r="1.204"/><path d="M32,56a2,2,0,0,1-2-2H28a4,4,0,0,0,8,0H34A2,2,0,0,1,32,56Z"/></svg>
          </span>
        </div>
        <div class="col-lg-1 d-none d-lg-block order-lg-2">
          <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
        </div>
        <div class="col-lg-2 order-2 order-lg-3">
        <h3>Sistemātiska pieeja</h3>
    </div>
    <div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>10 minūtes dienā</li>
<li>Meklē pēc tag ‘’konkurss‘’, skaties <em>recent</em> </li>
<li>Radi savu sistēmu, kā atcerēties, kurš bija pēdējais konkurss, kurā piedalījies <em>(like, screenshot)</em></li>
<li>Šķir pāri poļu konkursiem</li>
</ul>
<audio controls>
  <source src="/audio/3faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
  </div>
  <div class="col-lg-2 order-1 order-lg-5" >
    <div style="height: 100%;"class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="tris">3</div>
  </div>
  </div>

  <div class="row mt-2 py-4" id="ceturtaisSolis">
    <div class="col-lg-2 order-3 order-lg-2" id="ikona4">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 220"><path d="M117.668 96.667V65.578a572.809 572.809 0 0 0 4.636-.163c2.371-5.642 5.456-9.611 9.232-11.892-4.927.217-9.464.403-13.013.522-2.486.084-4.484.135-5.795.143a6.042 6.042 0 0 0-.789-.057H79.833c-.271 0-.536.024-.798.059h-5.922l-18.742.003a21.45 21.45 0 0 1-7.352 4.898 33.16 33.16 0 0 1 9.1 3.753c1.724.822 2.631 1.613 3.044 2.049.335.251.65.535.978.799l10.962-.002h3v19.943c3.831 9.496 6.208 21.32 7.082 35.436a8.44 8.44 0 0 1-2.112 6.153 8.446 8.446 0 0 1-4.97 2.756v48.182c0 5.471 4.437 9.908 9.911 9.908 5.469 0 9.906-4.437 9.906-9.908v-51.1h3.928v51.101c0 5.471 4.437 9.908 9.91 9.908 5.47 0 9.908-4.437 9.908-9.908V96.667zm-93.83-42.469h-1.742l.001 8.638a33.183 33.183 0 0 1 9.088-3.745 21.45 21.45 0 0 1-7.347-4.893zm52.471-22.987c0 10.812 8.765 19.577 19.577 19.577s19.577-8.765 19.577-19.577c0-10.812-8.765-19.577-19.577-19.577s-19.577 8.764-19.577 19.577zm31.083 5.539c-2.385 3.862-6.643 6.45-11.506 6.45s-9.122-2.588-11.506-6.45h23.012zm68.602-5.566c0-.446-.037-.883-.067-1.322l-7.454-1.659c-.016.082-.024.164-.042.247a7.75 7.75 0 0 1-15.13-3.368c.018-.082.046-.16.067-.241l-3.197-.712c-.016.082-.024.164-.042.247a7.75 7.75 0 0 1-9.249 5.881 7.7 7.7 0 0 1-3.786-2.084 19.652 19.652 0 0 0-.255 3.01c0 10.812 8.765 19.577 19.577 19.577 10.813.001 19.578-8.764 19.578-19.576zm-26.467 9.768c-3.763-.831-6.616-3.561-7.801-6.957l17.806 3.932c-2.505 2.581-6.243 3.856-10.005 3.025z"/><path d="M155.132 25.49a5.875 5.875 0 1 0 11.47 2.552 5.875 5.875 0 0 0-11.47-2.552zm-18.302-4.073a5.875 5.875 0 1 0 11.47 2.552 5.875 5.875 0 0 0-11.47-2.552z"/><path d="M146.968 14.041a19.61 19.61 0 0 0-2 1.286 7.749 7.749 0 0 1 5.278 6.387l4.082.908c1.7-2.681 4.947-4.149 8.224-3.42 3.277.729 5.595 3.436 5.997 6.585l7.068 1.573c-1.087-5.488-4.475-10.133-9.109-12.93-.638-1.344-1.152-2.772-1.238-4.013-.115-1.656.531-2.976 2.66-3.304 7.727-1.19-5.346-3.112-10.073 1.545a5.997 5.997 0 0 0-.489.546 12.082 12.082 0 0 1-.555-.587c-1.761-2.008-2.381-4.223.141-6.175 7.856-6.078-8.442.129-10.142 8.317-.225 1.068-.207 2.169.156 3.282zm-14.955 72.405c.277-2.115.598-4.12.954-5.959l.001-.003c.55-2.842 1.159-5.169 1.787-7.076V178.161c0 5.471 4.436 9.908 9.911 9.908 5.469 0 9.906-4.437 9.906-9.908V127.06h3.928v51.101c0 5.471 4.437 9.908 9.91 9.908 5.471 0 9.908-4.437 9.908-9.908v-48.279l-.059-.002a8.444 8.444 0 0 1-5.841-2.856 8.442 8.442 0 0 1-2.112-6.153c.943-15.225 3.631-27.789 8.012-37.633v-9.844c.568 1.72 1.132 3.826 1.653 6.403 2.425-4.651 5.294-8.583 8.586-11.816-1.539-4.095-3.405-7.243-5.604-9.467-2.663-2.694-5.9-4.162-9.384-4.297a6.086 6.086 0 0 0-.981-.085h-32.104c-.348 0-.686.034-1.017.09-6.71.253-11.785 5.061-15.16 14.314-1.036 2.84-1.917 6.084-2.63 9.762v.001a109.505 109.505 0 0 0-.991 6.11l-.018.009v.12c-.019.139-.039.274-.057.414a5.747 5.747 0 0 0 .057 1.832v9.615c2.736-.586 5.261-1.528 7.2-2.997 1.981-1.501 3.302-3.451 3.888-5.686v-.176c.117-.35.207-.714.257-1.094zM30.593 19.602a10.326 10.326 0 0 0-6.878-2.622c-5.73 0-10.375 4.645-10.375 10.375 0 3.586 1.819 6.746 4.585 8.61l.055-.012c1.136-7.347 6.001-13.472 12.613-16.351zm11.199 161.19a7.768 7.768 0 1 0 15.534 0v-29.919c-4.286.616-9.499 1.111-15.533 1.228v28.691zm-20.913 0a7.77 7.77 0 0 0 7.767 7.768 7.77 7.77 0 0 0 7.769-7.768V152.1c-6.036-.116-11.249-.611-15.535-1.228v29.92zm57.313-59.536c-1.979-31.96-11.493-47.13-21.152-54.204l-.013-.05s-.58-.698-2.323-1.508a30.152 30.152 0 0 0-15.602-4.377 30.16 30.16 0 0 0-15.606 4.379c-1.739.81-2.317 1.506-2.317 1.506l-.012.049C11.506 74.125 1.991 89.295.011 121.256a5.498 5.498 0 0 0 5.149 5.829 5.466 5.466 0 0 0 4.591-2.01c-.98 7.367-1.609 14.285-1.609 19.918 0 0 11.525 4.136 30.96 4.136s30.96-4.136 30.96-4.136c0-5.638-.629-12.563-1.611-19.938 1.014 1.244 2.543 2.041 4.248 2.041a5.499 5.499 0 0 0 5.493-5.84z"/><path d="M32.032 27.575c3.277-.729 6.524.739 8.224 3.42l4.082-.908a7.741 7.741 0 0 1 5.703-6.504 18.999 18.999 0 0 0-10.938-3.455c-9.244 0-16.952 6.567-18.718 15.29l5.65-1.258c.402-3.149 2.719-5.856 5.997-6.585zm26.17 11.652c0-1.076-.111-2.124-.282-3.152a7.706 7.706 0 0 1-4.219 2.556 7.75 7.75 0 0 1-9.249-5.881c-.019-.082-.027-.164-.042-.247l-3.197.712c.021.081.048.159.067.241a7.75 7.75 0 0 1-15.13 3.368c-.018-.082-.026-.164-.042-.247l-6.04 1.344c-.029.434-.066.865-.066 1.306 0 10.549 8.551 19.1 19.1 19.1s19.1-8.551 19.1-19.1zm-6.721 3.266c-1.185 3.396-4.038 6.126-7.801 6.957-3.763.831-7.5-.444-10.005-3.025l17.806-3.932z"/><path d="M50.741 25.332a5.875 5.875 0 1 0 2.553 11.47 5.875 5.875 0 0 0-2.553-11.47zm-18.302 4.073a5.875 5.875 0 1 0 2.553 11.47 5.875 5.875 0 0 0-2.553-11.47zm161.728 151.188a7.768 7.768 0 1 0 15.534 0v-28.692c-6.035-.117-11.248-.611-15.533-1.228v29.92zm20.911 0a7.77 7.77 0 0 0 7.769 7.768 7.77 7.77 0 0 0 7.767-7.768v-29.919c-4.286.617-9.5 1.111-15.536 1.228v28.691zm25.114-102.806c-2.52-.154-5.997-1.187-9.403-4.895-2.031-2.211-2.98-5.019-3.448-7.972a30.17 30.17 0 0 0-14.951-4.002c-3.868 0-9.649.778-15.602 4.377-1.743.811-2.323 1.508-2.323 1.508l-.013.05c-9.66 7.075-19.174 22.244-21.153 54.204a5.498 5.498 0 0 0 5.494 5.84c1.704 0 3.233-.797 4.248-2.041-.982 7.375-1.612 14.3-1.612 19.938 0 0 11.525 4.136 30.96 4.136s30.96-4.136 30.96-4.136c0-5.633-.628-12.551-1.609-19.918a5.47 5.47 0 0 0 4.591 2.01 5.498 5.498 0 0 0 5.149-5.829c-1.278-20.657-5.708-34.293-11.288-43.27z"/><path d="M232.482 71.336c7.36 8.01 15.382 2.019 12.146 2.096s-7.225-1.906-6.695-13.845c.343-7.72-1.955-12.008-5.045-14.441a21.361 21.361 0 0 1-4.045 7.547c.716 5.647-.567 14.065 3.639 18.643zm-.992-32.307c0-10.549-8.551-19.1-19.1-19.1s-19.1 8.551-19.1 19.1c0 10.549 8.551 19.1 19.1 19.1s19.1-8.552 19.1-19.1zm-29.491 5.878h20.782c-2.154 3.488-6 5.825-10.391 5.825-4.392 0-8.238-2.337-10.391-5.825z"/></svg>
      </div>
      <div class="col-lg-1 d-none d-lg-block order-lg-2">
        <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
      </div>
      <div class="col-lg-2 order-2 order-lg-3">
      <h3><em>Tagojamie</em> draugi</h3>
  </div>
  <div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>Izveido <em>tagojamo</em> draugu listi</li>
<li>Katru reizi tago vienā secībā</li>
<li><em>Tagojamie</em> draugi var būt arī nepazīstami – citi, kuri piedalās konkursā</li>
<li>Uzmanīgi lasi, vai arī draugam jābūt konta sekotājam. Taupi laiku un <em>tago</em> tikai tos, kuri piedalīsies vai jau piedalās</li>
</ul>
<audio controls>
  <source src="/audio/4faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>
<div class="col-lg-2 order-1 order-lg-5" >
  <div style="height: 100%;"class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="cetri">4</div>
</div>
</div>


<div class="row mt-2 py-4" id="piektaisSolis">
  <div class="col-lg-2 order-3 order-lg-2" id="ikona5">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 160 160"><path d="M33.73 49.803a5.615 5.615 0 0 0-5.616-5.617H8.333A2.064 2.064 0 0 0 6.27 46.25v75.833c0 1.14.924 2.064 2.063 2.064h19.781a5.617 5.617 0 0 0 5.616-5.617V49.803Zm-23.333-1.489v71.706h17.717a1.488 1.488 0 0 0 1.489-1.49V49.803a1.49 1.49 0 0 0-1.489-1.489H10.397Z"/><path d="m71.139 50.02 13.932-32.508a9.322 9.322 0 0 1 12.737-4.665l.009.004a9.29 9.29 0 0 1 5.008 9.835L98.269 50.02h21.558a7.237 7.237 0 0 1 7.237 7.236v47.327c0 1.14-.924 2.064-2.064 2.064h-2.103v9.132a7.236 7.236 0 0 1-7.069 7.234l-49.114 1.133a2.053 2.053 0 0 1-.97-.217l-11.231-5.615H31.667a2.064 2.064 0 0 1-2.064-2.064V52.083l.003-.106.008-.105.013-.103.018-.101.023-.1.028-.098.032-.096.037-.094.042-.091.045-.089.05-.086.054-.084.062-.087a2.064 2.064 0 0 1 1.438-.813l.105-.008.106-.002h39.472Zm51.797 52.5V57.256a3.107 3.107 0 0 0-3.109-3.109H95.833a2.063 2.063 0 0 1-2.035-2.403l4.956-29.736a5.161 5.161 0 0 0-2.783-5.465l-.009-.005a5.192 5.192 0 0 0-7.097 2.6L74.397 52.896a2.063 2.063 0 0 1-1.897 1.251H33.73v60.039H55c.32 0 .636.075.923.218l11.208 5.604 48.601-1.121a3.11 3.11 0 0 0 3.038-3.108v-11.196c0-1.139.924-2.063 2.063-2.063h2.103Z"/><path d="M125 67.52h-23.333a2.064 2.064 0 0 0 0 4.127H125a2.064 2.064 0 0 0 0-4.127zm0 17.5h-23.333a2.064 2.064 0 0 0 0 4.127H125a2.064 2.064 0 0 0 0-4.127zm0 17.5h-23.333a2.064 2.064 0 0 0 0 4.127H125a2.064 2.064 0 0 0 0-4.127z"/></svg>
      </span>
    </div>
    <div class="col-lg-1 d-none d-lg-block order-lg-2">
      <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
    </div>
    <div class="col-lg-2 order-2 order-lg-3">
    <h3>Labais tonis jeb ‘’konkursu karma’’</h3>
</div>
<div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>Izmanto laimēto balvu un nelaid zūdībā (skaitās arī atdāvināšana vai pārdošana)</li>
<li>Uzlabo savu ‘’konkursu karmu’’, pasakoties organizatoriem</li>
<li>Piedalies konkursos ar <em>share</em> storijā tikai, ja ļoti gribi balvu</li>
</ul>
<audio controls>
  <source src="/audio/5faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>
<div class="col-lg-2 order-1 order-lg-5" >
  <div style="height: 100%;"class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="pieci">5</div>
</div>
</div>


<div class="row mt-2 py-4" id="sestaisSolis">
  <div class="col-lg-2 order-3 order-lg-2" id="ikona6">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 550"><path fill-rule="evenodd" d="M303.458 47.497a203.41 203.41 0 0 1 59.563 24.694l38.705-17.19 45.618 45.616-17.185 38.693a203.447 203.447 0 0 1 24.698 59.579l39.488 15.199V278.6l-39.497 15.204a203.422 203.422 0 0 1-24.694 59.563l17.19 38.705-45.616 45.618-38.693-17.185a203.757 203.757 0 0 1-36.12 17.594v-64.404c44.639-24.908 74.829-72.595 74.829-127.349 0-80.5-65.244-145.744-145.744-145.744s-145.744 65.244-145.744 145.744c0 54.754 30.19 102.441 74.829 127.349v64.393a203.857 203.857 0 0 1-36.107-17.589l-38.705 17.19-45.618-45.616L81.84 353.38a203.45 203.45 0 0 1-24.697-59.58l-39.488-15.199v-64.512l39.494-15.201a203.374 203.374 0 0 1 24.694-59.568l-17.187-38.701L110.272 55l38.705 17.19a203.47 203.47 0 0 1 59.564-24.694L223.744 8h64.511l15.203 39.497zm47.759 198.848c0-37.112-21.234-69.263-52.214-84.972v95.734l-21.502 12.414L256 281.935l-21.501-12.414-21.502-12.414v-95.734c-30.98 15.709-52.215 47.86-52.215 84.972 0 39.52 24.078 73.414 58.363 87.82V494c0 5.508 4.492 10 10 10h53.71c5.508 0 10-4.492 10-10V334.165c34.285-14.405 58.362-48.3 58.362-87.82z" clip-rule="evenodd"/></svg>
      </span>
    </div>
    <div class="col-lg-1 d-none d-lg-block order-lg-2">
      <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
    </div>
    <div class="col-lg-2 order-2 order-lg-3">
    <h3>Tehniskas nianses</h3>
</div>
<div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>Nesteidzies! Ievēro 2 sekunžu pauzes, kad <em>tago</em></li>
<li>Sagaidi, kad pazūd <em>posting</em></li>
<li>Lai IG tevi nenobloķētu, ņem vērā limitus un nepiedalies daudzos konkursos pēc kārtas</li>
<li>Regulāri veic sava konta ‘’tīrīšanu’’ no konkursu kontiem (atlase pēc <em>recent</em> )</li>
<li>Ja laimē konkursā, bet kontam vairs neseko, nedari neko, nepieseko</li>
</ul>
<audio controls>
  <source src="/audio/6faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>
<div class="col-lg-2 order-1 order-lg-5" >
  <div style="height: 100%;"class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="sesi">6</div>
</div>
</div>


<div class="row mt-2 py-4" id="septitaisSolis">
  <div class="col-lg-2 order-3 order-lg-2" id="ikona7">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 70 70"><path d="M2 63h16a1 1 0 0 0 1-1V50a4 4 0 0 0-4-4h-2.031a5 5 0 1 0-5.938 0H5a4 4 0 0 0-4 4v12a1 1 0 0 0 1 1zm5-21a3 3 0 1 1 3 3 3 3 0 0 1-3-3zm-4 8a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v11H3zM50 1a13 13 0 1 0 13 13A13.015 13.015 0 0 0 50 1zm0 24a11 11 0 1 1 11-11 11.013 11.013 0 0 1-11 11z"/><path d="M50 5a9 9 0 1 0 8.345 12.375l-1.854-.75a7 7 0 1 1 0-5.25l1.854-.75A8.964 8.964 0 0 0 50 5Z"/><path d="M57 14a7.279 7.279 0 0 1-.054.879l1.985.242a9.141 9.141 0 0 0 0-2.242l-1.985.242A7.279 7.279 0 0 1 57 14zm-1.843-1.753a1 1 0 0 0-.807-.681l-2.386-.346L50.9 9.058a1.039 1.039 0 0 0-1.792 0l-1.072 2.162-2.386.346a1 1 0 0 0-.554 1.705l1.727 1.684-.408 2.376a1 1 0 0 0 1.45 1.054L50 17.264l2.135 1.121a1 1 0 0 0 1.053-.076 1 1 0 0 0 .4-.978l-.408-2.376 1.72-1.684a1 1 0 0 0 .257-1.024zM51.4 13.89a1 1 0 0 0-.287.884l.154.9-.806-.423a1 1 0 0 0-.93 0l-.806.423.154-.9a1 1 0 0 0-.287-.884l-.653-.636.9-.131a1 1 0 0 0 .753-.547l.4-.816.4.816a1 1 0 0 0 .753.547l.9.131zM35.586 30.465a1 1 0 0 0 .707.293.987.987 0 0 0 .316-.052 1 1 0 0 0 .674-.807l.707-4.95a1 1 0 0 0-1.132-1.132l-4.95.707a1 1 0 0 0-.565 1.7l1.414 1.414-2.121 2.122a1 1 0 0 0-.274.9l.4 1.985-4.124-1.03a1 1 0 0 0-1.212 1.212l1.01 4.04-4.041-1.01a1 1 0 0 0-1.243.97v2.415l-3.242 3.242 1.412 1.416 3.535-3.535a1 1 0 0 0 .293-.707v-1.55l4.415 1.1A1 1 0 0 0 28.777 38l-1.009-4.04 4.04 1.01a1 1 0 0 0 1.222-1.17l-.6-3.01 1.743-1.744zm.235-4.479-.235 1.651-1.415-1.415z"/></svg>
      </span>
    </div>
    <div class="col-lg-1 d-none d-lg-block order-lg-2">
      <svg class="ps-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><g data-name="Layer 2"><g data-name="chevron-right"><rect width="24" height="24" opacity="0" transform="rotate(-90 12 12)"/><path d="M10.5 17a1 1 0 0 1-.71-.29 1 1 0 0 1 0-1.42L13.1 12 9.92 8.69a1 1 0 0 1 0-1.41 1 1 0 0 1 1.42 0l3.86 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-.7.32z"/></g></g></svg>
    </div>
    <div class="col-lg-2 order-2 order-lg-3">
    <h3>Nepadošanās</h3>
</div>
<div class="col-lg-5 order-4 order-lg-4">
<ul>
<li>Grūtākais uzdevums – nepadoties</li>
<li>Nepadodies pēc pirmā ‘’’tukšuma perioda’’</li>
<li>Uzstādi mērķi, cik ilgi sistemātiski piedalīsies</li>
<li>Sagaidi pirmo laimestu un tālāk ļaujies azartam</li>
<li>Sistēma + ticība</li>
<li>Drīz laimesti būs arī #tavilaimesti</li>
</ul>
<audio controls>
  <source src="/audio/7faze.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
  </audio>
</div>
<div class="col-lg-2 order-1 order-lg-5" >
  <div style="height: 100%;"class="border border-4 rounded-3 d-flex justify-content-center align-items-center border-white" id="septini">7</div>
</div>
</div>
<p class="fs-4" id="paragrafs7soliApaksa"> 
  Tagad, kad esi iepazinies ar visiem soļiem, galvenais ir <b>sākt rīkoties</b>! Iedvesmo sevi, apskatot citu cilvēku <a href="/laimesti">laimestus</a>, un tici, ka arī tu vari kļūt par lielisku balvu īpašnieku. Laimestus <a href="/laimesti">skatīt šeit</a>.
  </p>

  </section>
</main>     




