
#homeButton {
    border-color:  #A782EC;
    background-color: #A782EC;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-width: 0.2rem;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#heading{
    color:  #A782EC;
    font-weight: 700;
}

h3 {
    margin-top: 20px;
    font-weight: 600;
}


#textBox {
    padding: 0px 15px 0px 15px;
}


#imageBox{
    padding: 0px 100px 0px 15px;
}

#image{
    border-radius: 15px 100px 15px 100px;
}

.container-fluid{
    padding-bottom: 0px;
}


@media (max-width: 600px) {
    #home {
    padding: 120px 20px 0px 20px;  
    }

}

@media (max-width: 991px) {
    #imageBox{
        padding-right: 15px;
        }
}

@media (max-width: 420px) {
    #home {
    padding: 140px 20px 0px 20px;  
    }

}


