#laimesti{
    padding: 140px 50px 0px 50px;
    margin: 0px 0px;
}

#jaunsLaimests{
    padding: 140px 50px 0px 50px;
    margin: 0px 0px;
}


#pievienotsLaimests{
    padding: 140px 50px 0px 50px;
    margin: 0px 0px;
}

#labotsLaimests{
    padding: 140px 50px 0px 50px;
    margin: 0px 0px;
}


@media (max-width: 600px) {
    #laimesti {
    padding: 120px 20px 0px 20px;  
    }
}

@media(max-width: 420px) {
    #laimesti{
        padding: 140px 20px 0px 20px;  
    }
}

h1{
    color: #A782EC;
    font-weight: 700;
    margin-bottom: 25px;
}

.btn{
    border-color:  #A782EC;
    background-color: #A782EC;
    color: white;
    font-weight:bold;
}

.btn:hover{
    border-color:  #A782EC;
    background-color: #A782EC;
    color: white;
    font-weight:bold;
}

p{
    font-size: 1.3rem;
    font-weight: 500;
}

a{
  color:#06114F;
  font-weight: bold;
}

#formHeading{
    margin-top: 20px;
    color: #A782EC;
    font-weight: 700;
}

label{
    font-weight: 600;
}

h5{
    font-weight: bold;
}

h4{
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: bold;
}

